# Python
__pycache__/
*.pyc

# environments
.env
venv/

# data
data/
*.fasta
*.fastq
*.bam
*.sam

# outputs
results/
logs/

# OS
.DS_Store

# nextflow
.nextflow.log*
.nextflow/

# AI conding tools
.antigravitycli/
CLAUDE.md